@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select-nav:hover .text-icon{
  margin-right: 1em;
  opacity: 1;
  background-color: rgba(243, 239, 239, 0.021);
}

.select-nav:hover .circle-icon{
  width: 8px;
  height: 8px;
}

.select-nav:hover .border-icon{
  border: solid rgb(163 153 153) 2px;
}